.title {
  color: white;
  background: red;
  border-radius: 0.25em;
  font-size: x-large;
  font-weight: 800;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  width: fit-content;
}

.subheader {
  font-size: larger;
  font-weight: bold;
}

.content {
  font-size: larger;
}

.ok-button {
  font-size: 1.5rem;
  height: 3rem;
  width: 6rem;
}

.button-bar {
  display: flex;
  justify-content: flex-end;
}
