<app-loading-spinner *ngIf="!dataLoaded"></app-loading-spinner>
<div *ngIf="dataLoaded">
  <div *ngIf="performanceSelected; else selectPerformanceView">
    <app-stepper
      #stepper
      [ngStyle]="
        stepper.currentStepIndex == 3 && submitted ? { display: 'none' } : {}
      "
      [stepperOptions]="stepperOpts"
      (stepChange)="onStepChange($event)"
    ></app-stepper>

    <div>
      <ng-container
        [ngSwitch]="stepper.currentStepIndex"
        class="page-container"
      >
        <ng-container *ngSwitchCase="0">
          <ng-container *ngTemplateOutlet="step1"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <ng-container *ngTemplateOutlet="step2"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <ng-container *ngTemplateOutlet="step3"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <ng-container *ngTemplateOutlet="step4"></ng-container>
        </ng-container>
      </ng-container>
    </div>

    <div class="button-overall-container">
      <ng-container *ngIf="stepper.currentStepIndex != 3; else finalButtons">
        <button
          mat-flat-button
          class="button"
          aria-label="Save Performance Draft"
          (click)="onSaveDraft()"
        >
          save draft
        </button>
        <div>
          <button
            mat-flat-button
            class="button"
            aria-label="Previous Step"
            (click)="onPrevClick()"
          >
            previous
          </button>
          <button
            mat-flat-button
            class="button"
            aria-label="Next Step"
            (click)="onNextClick()"
          >
            next
          </button>
        </div>
      </ng-container>
      <ng-template #finalButtons>
        <ng-container *ngIf="!submitted; else submittedButtons">
          <button
            mat-flat-button
            class="button"
            aria-label="Save Performance Draft"
            (click)="onSaveDraft()"
          >
            save draft
          </button>
          <div>
            <button
              mat-flat-button
              class="button"
              aria-label="Previous Step"
              (click)="onPrevClick()"
            >
              previous
            </button>
            <button
              mat-flat-button
              class="button"
              aria-label="Publish Performance"
              (click)="onSubmit()"
            >
              publish
            </button>
          </div>
        </ng-container>
        <ng-template #submittedButtons>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              width: 100%;
            "
          >
            <button
              mat-flat-button
              class="button"
              aria-label="New Performance"
              (click)="onResetFromStart($event)"
            >
              new performance
            </button>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #selectPerformanceView>
  <div class="step0">
    <div class="cards-container">
      <div class="left-card-container">
        <div class="left-card app-card">
          <div class="title-container">
            <h2 class="title">Recently Published Performances</h2>
          </div>
          <div class="children-container">
            <div class="child-container">
              <div
                *ngFor="let perf of publishedPerfs"
                class="child app-card"
                [ngClass]="
                  this.selectedPerformance &&
                  perf.uuid == this.selectedPerformance.uuid
                    ? 'child-selected'
                    : ''
                "
                (click)="onSelectRecentPerformance(perf)"
              >
                <h3 class="performance-title">
                  {{
                    perf.step_1.city +
                      ", " +
                      perf.step_1.state +
                      " " +
                      perf.step_1.country +
                      " - " +
                      perf.step_1.venue +
                      " - " +
                      toDateString(perf.step_1.date) +
                      " - " +
                      perf.step_1.title
                  }}
                </h3>
              </div>
            </div>
          </div>
          <div class="dup-button-container">
            <!-- <button mat-icon-button aria-label="Duplicate Recent Performance Button" class="dup-button"
              (click)="duplicatePerformance(selectedPerformance)">
              <mat-icon [inline]="true" class="dup-button-icon">
                content_copy
              </mat-icon>
            </button> -->
          </div>
        </div>
      </div>
      <div class="right-card-container">
        <div class="right-card app-card">
          <div class="title-container">
            <h2 class="title">Performance Drafts</h2>
          </div>
          <div class="children-container">
            <div class="child-container">
              <div
                *ngFor="let perf of draftPerfs"
                class="child app-card"
                [ngClass]="
                  this.selectedPerformance &&
                  perf.uuid == this.selectedPerformance.uuid
                    ? 'child-selected'
                    : ''
                "
                (click)="onSelectRecentPerformance(perf)"
              >
                <h3 class="performance-title">
                  {{
                    perf.step_1.city +
                      ", " +
                      perf.step_1.state +
                      " " +
                      perf.step_1.country +
                      " - " +
                      perf.step_1.venue +
                      " - " +
                      toDateString(perf.step_1.date) +
                      " - " +
                      perf.step_1.title
                  }}
                </h3>
              </div>
            </div>
          </div>
          <div class="dup-button-container">
            <!-- <button mat-icon-button aria-label="Duplicate Recent Performance Button" class="dup-button"
              (click)="duplicatePerformance(selectedPerformance)">
              <mat-icon [inline]="true" class="dup-button-icon">
                content_copy
              </mat-icon>
            </button> -->
          </div>
        </div>
      </div>
    </div>
    <div class="button-overall-container">
      <button
        mat-flat-button
        aria-label="New Performance"
        class="button"
        (click)="onNewPerformance()"
      >
        new performance
      </button>
      <button
        mat-flat-button
        aria-label="Edit Performance"
        class="button"
        (click)="onEditPerformance()"
      >
        edit
      </button>
      <button
        mat-flat-button
        aria-label="Duplicate Performance"
        class="button"
        (click)="onDuplicatePerformance(selectedPerformance)"
      >
        duplicate
      </button>
      <button
        mat-flat-button
        aria-label="Cancel Performance"
        class="button"
        (click)="onCancelPerformance()"
      >
        {{
          selectedPerformance
            ? selectedPerformance.status == "PUBLISHED"
              ? "cancel"
              : "delete"
            : "cancel"
        }}
      </button>
    </div>
  </div>
</ng-template>

<!-- Step Templates -->
<ng-template #step1>
  <div class="step1">
    <div class="right-card-container">
      <div class="right-card app-card">
        <div class="content">
          <div class="title-reset-container">
            <input
              type="text"
              class="title-input app-card"
              [value]="state.step_1.title"
              [size]="
                state.step_1.title.length < 15 ? 15 : state.step_1.title.length
              "
              (input)="onStep1Input('title', $event)"
            />
            <div class="reset-button-container">
              <button
                mat-icon-button
                aria-label="Reset Performance Button"
                class="reset-button"
                (click)="resetPerformance()"
              >
                <mat-icon [inline]="true" class="reset-button-icon">
                  refresh
                </mat-icon>
              </button>
            </div>
          </div>
          <div class="date-container">
            <div class="date-title-container">
              <h3 class="input-title">Date</h3>
            </div>
            <mat-form-field appearance="fill" class="date-input">
              <mat-label>Date</mat-label>
              <input
                matInput
                type="datetime-local"
                (input)="onStep1Input('date', $event)"
                [value]="dateStr"
              />
            </mat-form-field>
          </div>
          <div class="location-container">
            <div class="location-title-container">
              <h3 class="input-title location-title">City</h3>
            </div>
            <div class="location-card app-card">
              <textarea
                type="text"
                class="location-input"
                rows="1"
                [value]="state.step_1.city"
                (input)="onStep1Input('city', $event)"
              ></textarea>
            </div>
            <div class="location-title-container">
              <h3 class="input-title location-title">State</h3>
            </div>
            <div class="location-card app-card">
              <textarea
                type="text"
                class="location-input"
                rows="1"
                [value]="state.step_1.state"
                (input)="onStep1Input('state', $event)"
              ></textarea>
            </div>
            <div class="location-title-container">
              <h3 class="input-title location-title">Country</h3>
            </div>
            <div class="location-card app-card">
              <textarea
                type="text"
                class="location-input"
                rows="1"
                [value]="state.step_1.country"
                (input)="onStep1Input('country', $event)"
              ></textarea>
            </div>
            <div class="location-title-container">
              <h3 class="input-title location-title">Venue</h3>
            </div>
            <div class="location-card app-card">
              <textarea
                type="text"
                class="location-input"
                rows="1"
                [value]="state.step_1.venue"
                (input)="onStep1Input('venue', $event)"
              ></textarea>
            </div>
          </div>
          <div class="description-container">
            <h3 class="input-title">Description</h3>
            <div class="description-card app-card">
              <textarea
                type="text"
                class="description-input"
                rows="2"
                [value]="state.step_1.description"
                (input)="onStep1Input('description', $event)"
              ></textarea>
            </div>
            <div class="segment-list app-card">
              <div
                *ngFor="let segment of state.step_3.segments; let i = index"
                class="segment-container"
                [style.margin-left.rem]="step2Data[i].siblingId > 0 ? 4 : 1"
              >
                <h3 class="title">{{ segment["name"] }}</h3>
                <div
                  *ngFor="let pos of segment.custom_groups"
                  class="pos-container"
                  [style.margin-left.rem]="
                    hasSuper && step2Data[i].siblingId < 1 ? 10 : 7
                  "
                >
                  <h4 class="pos-title">{{ pos["name"] }}</h4>
                  <ng-container *ngFor="let group of pos.groups">
                    <div
                      *ngIf="group.group_index == segment.selected_group"
                      class="dancer-list"
                    >
                      <p class="names">
                        {{
                          group["memberNames"]
                            ? group["memberNames"].join(", ")
                            : ""
                        }}
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #step2>
  <div class="step2" cdkDropListGroup>
    <div class="left-card-container">
      <div class="left-card app-card">
        <div class="title-container">
          <h2 class="title">Program Segments</h2>
        </div>
        <div cdkDropList id="piece-list" [cdkDropListData]="step2PickFrom">
          <div *ngFor="let data of step2PickFrom; let i = index">
            <div cdkDrag class="piece-name-container" [cdkDragData]="data">
              <div class="app-card piece-name-card">
                <h2 class="piece-name">{{ data.name }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-card-container">
      <div class="right-card app-card">
        <div class="content">
          <h2 class="program-title">Program Order</h2>
          <div
            id="program-list"
            cdkDropList
            (cdkDropListDropped)="step2Drop($event)"
            [cdkDropListData]="step2Data"
          >
            <div *ngFor="let data of step2Data; let i = index">
              <div cdkDrag class="piece-container" [cdkDragData]="data">
                <div
                  class="app-card piece-name-card"
                  [style.margin-left.rem]="data.siblingId > 0 ? 2 : 0"
                >
                  <h2 class="piece-name-delete">
                    {{ data.name }}
                  </h2>
                </div>
                <div class="delete-button-height-container">
                  <button
                    mat-icon-button
                    class="delete-button"
                    aria-label="Delete Piece Button"
                    (click)="deletePiece(data, i)"
                  >
                    <mat-icon [inline]="true" class="delete-button-icon">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #step3>
  <div class="step3">
    <div class="left-card-container">
      <div class="left-card app-card">
        <div class="title-container">
          <h2 class="title">Program</h2>
        </div>
        <div class="children-container">
          <div class="child-container">
            <div
              *ngFor="let segment of step2Data; let i = index"
              class="child app-card"
              [class.child-selected]="
                segment.uuid == this.selectedSegment.uuid && selectedIndex == i
              "
              [style.margin-left.rem]="segment.siblingId > 0 ? 2 : 0"
              (click)="onSelectStep3Segment(segment, i)"
            >
              <h3 class="segment-title">{{ segment.name }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-card-container">
      <div *ngIf="selectedSegment != undefined" class="app-card right-card">
        <div class="toolbar-drag-and-drop-container">
          <div
            class="cast-tool-container"
            [class.cast-tool-container-solo]="selectedSegment.type == 'SEGMENT'"
          >
            <mat-form-field
              appearance="fill"
              class="tool"
              [ngStyle]="
                selectedSegment.type == 'SEGMENT' ||
                selectedSegment.type == 'SUPER'
                  ? { display: 'none' }
                  : { height: '100%' }
              "
            >
              <mat-label>Dancing Cast</mat-label>
              <mat-select
                [(value)]="this.primaryGroupNum"
                (selectionChange)="onChoosePrimaryCast($event)"
              >
                <mat-option
                  *ngFor="let num of chooseFromGroupIndices"
                  [value]="num"
                >
                  {{ num + 1 | numberToPlace }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              class="tool"
              appearance="fill"
              [ngStyle]="
                selectedSegment.type == 'SEGMENT' ||
                selectedSegment.type == 'SUPER'
                  ? { display: 'none' }
                  : { height: '100%' }
              "
            >
              <mat-label>Autofill Cast</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let cast of castsForSegment"
                  [value]="cast"
                  (click)="onAutofillCast(cast)"
                >
                  {{ cast.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              class="tool"
              appearance="fill"
              [class.tool-solo]="selectedSegment.type == 'SEGMENT'"
            >
              <mat-label>Length (min)</mat-label>
              <input
                matInput
                [value]="segmentLength"
                (input)="onLengthChange($event)"
              />
            </mat-form-field>
          </div>
          <div class="cast-drag-and-drop-container">
            <app-cast-drag-and-drop
              #castDnD
              (castChangeEmitter)="onChangeCast($event)"
              [ngStyle]="
                selectedSegment.type == 'SEGMENT' ||
                selectedSegment.type == 'SUPER'
                  ? { display: 'none' }
                  : { height: '100%' }
              "
            >
            </app-cast-drag-and-drop>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #step4>
  <div class="step4">
    <ng-container *ngIf="!submitted; else submittedCard">
      <div class="finalize-card-container">
        <div class="finalize-card app-card">
          <div class="content">
            <div class="title-export-container">
              <h2 class="title">Review Casting</h2>
              <div>
                <button
                  mat-icon-button
                  aria-label="Export Cast Button"
                  class="export-button"
                  (click)="exportPerformance()"
                >
                  <mat-icon [inline]="true" class="export-button-icon">
                    save_alt
                  </mat-icon>
                </button>
                <button
                  mat-icon-button
                  aria-label="Export Cast Button"
                  class="export-button"
                  (click)="exportPerformanceAsPDF()"
                >
                  <mat-icon [inline]="true" class="export-button-icon">
                    save_alt
                  </mat-icon>
                </button>
              </div>
            </div>
            <div class="segment-list app-card">
              <div
                *ngFor="let segment of state.step_3.segments; let i = index"
                class="segment-container"
                [style.margin-left.rem]="step2Data[i].siblingId > 0 ? 4 : 1"
              >
                <h3 class="title">{{ segment["name"] }}</h3>
                <div
                  *ngFor="let pos of segment.custom_groups"
                  class="pos-container"
                  [style.margin-left.rem]="
                    hasSuper && step2Data[i].siblingId < 1 ? 10 : 7
                  "
                >
                  <h4 class="pos-title">{{ pos["name"] }}</h4>
                  <ng-container *ngFor="let group of pos.groups">
                    <div
                      *ngIf="group.group_index == segment.selected_group"
                      class="dancer-list"
                    >
                      <p class="names">
                        {{
                          group["memberNames"]
                            ? group["memberNames"].join(", ")
                            : ""
                        }}
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #submittedCard>
      <div class="finalize-card-container">
        <div class="finalize-card-submitted finalize-card app-card">
          <div class="content">
            <h2 class="title">Performance Submitted!</h2>
            <h2 class="title">
              {{
                "Scheduled " +
                  state.step_1.title +
                  " for " +
                  date.toLocaleDateString()
              }}
            </h2>
            <div class="segment-list-submitted segment-list app-card">
              <div
                *ngFor="let segment of state.step_3.segments"
                class="segment-container"
              >
                <h3 class="title">{{ segment["name"] }}</h3>
                <div
                  *ngFor="let pos of segment.custom_groups"
                  class="pos-container"
                >
                  <h4 class="pos-title">{{ pos["name"] }}</h4>
                  <ng-container *ngFor="let group of pos.groups">
                    <div
                      *ngIf="group.group_index == segment.selected_group"
                      class="dancer-list"
                    >
                      <p class="names">{{ group["memberNames"].join(", ") }}</p>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
