<div *ngIf="dataLoaded">
  <app-stepper #stepper [stepperOptions]="stepperOpts" (stepChange)="onStepChange($event)"></app-stepper>

  <ng-container [ngSwitch]="stepper.currentStepIndex" class="page-container">
    <ng-container *ngSwitchCase="0">
      <ng-container *ngTemplateOutlet="step1"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <ng-container *ngTemplateOutlet="step2"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <ng-container *ngTemplateOutlet="step3"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="3">
      <ng-container *ngTemplateOutlet="step4"></ng-container>
    </ng-container>
  </ng-container>

  <div class="button-overall-container">
    <button mat-flat-button aria-label="Save User" class="button" (click)="onSaveDraft()">
      save draft
    </button>
    <div>
      <button mat-flat-button aria-label="Previous Step" class="button" (click)="onPrevClick()">
        previous
      </button>
      <button mat-flat-button aria-label="Next Step" class="button" (click)="onNextClick()">
        next
      </button>
    </div>
  </div>
</div>


<!-- Templates -->
<ng-template #step1>
  <div class="step1">
    <div class="left-card-container">
      <div class="left-card app-card">
        <div class="title-container">
          <h2 class="title">Recent Performances</h2>
        </div>
        <div class="children-container">
          <div class="child-container">
            <div *ngFor="let perf of allPerformanes" class="child app-card"
              [ngClass]="perf.uuid == this.selectedPerformance.uuid ? 'child-selected' : ''"
              (click)="onSelectRecentPerformance(perf)">
              <h3 class="performance-title">{{ perf.step_1.title }}</h3>
            </div>
          </div>
        </div>
        <div class="dup-button-container">
          <button mat-icon-button aria-label="Duplicate Recent Performance Button" class="dup-button"
            (click)="duplicatePerformance(selectedPerformance)">
            <mat-icon [inline]="true" class="dup-button-icon">
              content_copy
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="right-card-container">
      <div class="right-card app-card">
        <div class="content">
          <div class="title-reset-container">
            <input type="text" class="title-input" [value]="state.step_1.title"
              (input)="onStep1Input('title', $event)" />
            <div class="reset-button-container">
              <button mat-icon-button aria-label="Reset Performance Button" class="reset-button"
                (click)="resetPerformance()">
                <mat-icon [inline]="true" class="reset-button-icon">
                  refresh
                </mat-icon>
              </button>
            </div>
          </div>
          <div class="date-container">
            <div class="date-title-container">
              <h3 class="input-title">Date</h3>
            </div>
            <mat-form-field appearance="fill" class="date-input">
              <mat-label>Date</mat-label>
              <input matInput type="datetime-local" (input)="onStep1Input('date', $event)" [value]="dateStr">
            </mat-form-field>
          </div>
          <div class="location-container">
            <div class="location-title-container">
              <h3 class="input-title location-title">Location</h3>
            </div>
            <div class="location-card app-card">
              <textarea type="text" class="location-input" rows="1" [value]="state.step_1.location"
                (input)="onStep1Input('location', $event)"></textarea>
            </div>
          </div>
          <div class="description-container">
            <h3 class="input-title">Description</h3>
            <div class="description-card app-card">
              <textarea type="text" class="description-input" rows="8" [value]="state.step_1.description"
                (input)="onStep1Input('description', $event)"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #step2>
  <div class="step2" cdkDropListGroup>
    <div class="left-card-container">
      <div class="left-card app-card">
        <div class="title-container">
          <h2 class="title">Ballets</h2>
        </div>
        <div cdkDropList id="piece-list" [cdkDropListData]="step2PickFrom">
          <div *ngFor="let data of step2PickFrom; let i = index">
            <div cdkDrag class="piece-name-container" [cdkDragData]="data">
              <div class="app-card piece-name-card">
                <h2 class="piece-name">{{data.name}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-card-container">
      <div class="right-card app-card">
        <div class="content">
          <h2 class="program-title">Program</h2>
          <div id="program-list" cdkDropList (cdkDropListDropped)="step2Drop($event)" [cdkDropListData]="step2Data">
            <div *ngFor="let data of step2Data; let i = index">
              <div cdkDrag class="piece-container" [cdkDragData]="data">
                <div class="app-card piece-name-card">
                  <h2 class="piece-name-delete">{{data.name}}</h2>
                </div>
                <div class="delete-button-height-container">
                  <button mat-icon-button aria-label="Delete Piece Button" class="delete-button"
                    (click)="deletePiece(data, i)">
                    <mat-icon [inline]="true" class="delete-button-icon">
                      delete
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #step3>
  <div class="step3">
    <div class="left-card-container">
      <div class="left-card app-card">
        <div class="title-container">
          <h2 class="title">Program</h2>
        </div>
        <div class="children-container">
          <div class="child-container">
            <div *ngFor="let segment of step2Data" class="child app-card"
              [ngClass]="segment.uuid == this.selectedSegment.uuid ? 'child-selected' : ''"
              (click)="onSelectStep3Segment(segment)">
              <h3 class="segment-title">{{ segment.name }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-card-container">
      <div class="app-card right-card" *ngIf="selectedSegment != undefined">
        <app-cast-drag-and-drop #castDnD
          [ngStyle]="selectedSegment.uuid == 'intermission' ? { 'display': 'none' } : { 'height': '100%' }">
        </app-cast-drag-and-drop>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #step4>
  <div class="step4">
    <h1>step 4</h1>
  </div>
</ng-template>