@import "../../styles/colors";
@import "../../styles/constants";

$buttonRowHeight: 5rem;

.button-overall-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 0;

  .button {
    background: $AAOrange;
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.5em 1.5em;
    height: 4rem;
  }
}

.page-container {
  height: 90vh;
  width: 100%;
}

.step0 {
  .cards-container {
    display: flex;
    height: calc(90vh - 5rem);
    justify-content: space-evenly;
    width: 100vw;

    .left-card-container {
      height: calc(90vh - 5rem);
      width: 45vw;

      .left-card {
        background: $offWhite;
        display: flex;
        flex-direction: column;
        height: calc(100% - 1rem);
        justify-content: flex-start;
        margin: 0.5rem;

        .dup-button-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          .dup-button {
            background: $white;
            border-radius: $borderRadius;
            height: 6vh;
            margin: 1em;
            width: 6vh;
          }

          .dup-button-icon {
            font-size: 2.5em;
            vertical-align: middle;
          }
        }

        .title-container {
          .title {
            font-size: xx-large;
            font-weight: bold;
            margin-left: 0.5em;
            margin-right: 0.5em;
            padding-top: 0.5em;
          }
        }

        .children-container {
          overflow-y: scroll;

          .child-container {
            margin: 0 1em 0.5em 1em;

            .child {
              &-selected {
                background: $offoffWhite;
              }

              .performance-title {
                font-size: x-large;
                font-weight: bold;
                padding: 0.5em 1em;
              }
            }
          }
        }
      }
    }

    .right-card-container {
      height: calc(90vh - 5rem);
      width: 45vw;

      .right-card {
        background: $offWhite;
        display: flex;
        flex-direction: column;
        height: calc(100% - 1rem);
        justify-content: flex-start;
        margin: 0.5rem;

        .dup-button-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          .dup-button {
            background: $white;
            border-radius: $borderRadius;
            height: 6vh;
            margin: 1em;
            width: 6vh;
          }

          .dup-button-icon {
            font-size: 2.5em;
            vertical-align: middle;
          }
        }

        .title-container {
          .title {
            font-size: xx-large;
            font-weight: bold;
            margin-left: 0.5em;
            margin-right: 0.5em;
            padding-top: 0.5em;
          }
        }

        .children-container {
          overflow-y: scroll;

          .child-container {
            margin: 0 1em 0.5em 1em;

            .child {
              &-selected {
                background: $offoffWhite;
              }

              .performance-title {
                font-size: x-large;
                font-weight: bold;
                padding: 0.5em 1em;
              }
            }
          }
        }
      }
    }
  }
}

.step1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .right-card-container {
    height: calc(90vh - 5rem);
    width: 95vw;

    .right-card {
      background: $offWhite;
      height: calc(100% - 1rem);
      margin: 0.5rem;

      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;

        .title-reset-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .reset-button-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 6vh;

            .reset-button {
              background: $white;
              border-radius: $borderRadius;
              height: 6vh;
              margin: 1em;
              width: 6vh;
            }

            .reset-button-icon {
              font-size: 2.5em;
              vertical-align: middle;
            }
          }

          .title-input {
            border: none;
            color: black;
            font-size: xx-large;
            font-weight: bold;
            margin-left: 2rem;
            margin-right: 1em;
            margin-top: 0.5em;
            max-width: 90%;
            padding-left: 1rem;
            width: auto;

            &:focus {
              border: none;
            }
          }
        }

        .input-title {
          background: none;
          border: none;
          color: black;
          font-size: x-large;
          font-weight: bold;
          margin-left: 2rem;
          margin-top: 0.5em;
        }

        .date-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-top: 1em;

          .date-title-container {
            margin-right: 2rem;
          }

          .date-input {
            width: 25%;
          }
        }

        .location-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-left: 2rem;
          margin-right: 1rem;

          .location-title-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;

            .location-title {
              margin-left: 0;
            }
          }

          .location-card {
            height: min-content;
            margin-left: 0.5rem;
            margin-right: 1rem;
            width: 100%;

            .location-input {
              background: none;
              border: none;
              color: black;
              font-size: large;
              height: 100%;
              margin: auto;
              padding: 0.75em 1em;
              position: relative;
              resize: none;
              white-space: normal;
              width: 100%;

              &:focus {
                border: none;
              }
            }
          }
        }

        .description-container {
          // max-height: 60%;
          min-height: 0;
          // margin-top: 1rem;

          .segment-list {
            display: flex;
            flex-direction: column;
            height: fit-content;
            justify-content: flex-start;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            overflow-y: scroll;

            .segment-container {
              border-left: 4px solid;
              border-color: $lightLightGray;
              margin-bottom: 0.5rem;
              margin-left: 1rem;
              margin-top: 0.5rem;

              .title {
                font-size: x-large;
                font-weight: bold;
                margin-bottom: 0;
                margin-right: 0.5em;
                padding-bottom: 0.5rem;
                padding-left: 1rem;
                padding-top: 0.5rem;
              }

              .pos-container {
                border-left: 4px solid;
                border-color: $offoffWhite;
                margin-left: 2rem;

                .pos-title {
                  font-size: larger;
                  font-weight: bold;
                  margin-bottom: 0;
                  margin-right: 0.5em;
                  padding-left: 1em;
                }

                .dancer-list {
                  border-left: 4px solid;
                  border-color: $offWhite;
                  margin-left: 3rem;

                  .names {
                    font-size: large;
                    margin-bottom: 0;
                    margin-right: 0.5em;
                    padding-left: 1em;
                  }
                }
              }
            }
          }

          .description-card {
            margin: 1em 2rem;

            .description-input {
              background: none;
              border: none;
              color: black;
              font-size: large;
              margin: 0;
              padding: 0.75em 1em;
              position: relative;
              resize: none;

              &:focus {
                border: none;
              }

              white-space: normal;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.step2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .left-card-container {
    height: calc(82vh - 5rem);
    margin-top: 8vh;
    width: 25vw;

    .left-card {
      background: $offWhite;
      display: flex;
      flex-direction: column;
      height: calc(100% - 1rem);
      justify-content: flex-start;
      margin: 0.5rem;

      .title-container {
        .title {
          font-size: xx-large;
          font-weight: bold;
          margin-left: 0.5em;
          margin-right: 0.5em;
          padding-top: 0.5em;
        }
      }
    }
  }

  .right-card-container {
    height: calc(90vh - 5rem);
    width: 75vw;

    .right-card {
      background: $offWhite;
      height: calc(100% - 1rem);
      margin: 0.5rem;

      .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
      }

      .program-title {
        font-size: xx-large;
        font-weight: bold;
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding-top: 0.5em;
      }
    }
  }
}

.piece-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-left: 1em;

  .delete-button-height-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
    margin-top: auto;

    .delete-button {
      color: black;
      font-size: x-large;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;

      .delete-button-icon {
        font-size: 6vh;
        vertical-align: middle;
      }
    }
  }
}

.piece-name-card {
  margin-left: 1em;
  width: calc(100% - 2em);

  .piece-name {
    font-size: x-large;
    font-weight: bold;
    margin-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    &-delete {
      font-size: x-large;
      font-weight: bold;
      margin-bottom: 0;
      margin-left: 1em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
    }
  }
}

#piece-list {
  overflow-y: scroll;
}

#program-list {
  height: 100%;
  overflow-y: scroll;
}

.step3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .left-card-container {
    height: calc(82vh - 5rem);
    margin-top: 8vh;
    width: 25vw;

    .left-card {
      background: $offWhite;
      display: flex;
      flex-direction: column;
      height: calc(100% - 1rem);
      justify-content: flex-start;
      margin: 0.5rem;

      .dup-button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .dup-button {
          background: $white;
          border-radius: $borderRadius;
          height: 6vh;
          margin: 1em;
          width: 6vh;
        }

        .dup-button-icon {
          font-size: 2.5em;
          vertical-align: middle;
        }
      }

      .title-container {
        .title {
          font-size: xx-large;
          font-weight: bold;
          margin-left: 0.5em;
          margin-right: 0.5em;
          padding-top: 0.5em;
        }
      }

      .children-container {
        height: 100%;
        overflow-y: scroll;

        .child-container {
          margin: 0 1em 0.5em 1em;

          .child {
            &-selected {
              background: $offoffWhite;
            }

            .segment-title {
              font-size: x-large;
              font-weight: bold;
              padding: 0.5em 1em;
            }
          }
        }
      }
    }
  }

  .right-card-container {
    height: calc(90vh - 5rem);
    width: 75vw;

    .right-card {
      background: $offWhite;
      height: calc(100% - 1rem);
      margin: 0.5rem;

      .toolbar-drag-and-drop-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .cast-tool-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          &-solo {
            height: 100%;
            justify-content: center;
          }

          .tool {
            height: 2.5rem;
            width: 32%;

            &-solo {
              width: 100%;
            }
          }
        }

        .cast-drag-and-drop-container {
          height: calc(100% - 5rem);
        }
      }
    }
  }
}

.step4 {
  height: 100%;

  .finalize-card-container {
    height: calc(90vh - 5rem);
    padding-top: 1rem;
    width: 100vw;

    .finalize-card {
      background: $offWhite;
      height: calc(100% - 1rem);
      margin-left: 5rem;
      margin-right: 1rem;

      &-submitted {
        margin-left: 1rem;
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .title {
          font-size: xx-large;
          font-weight: bold;
          height: 3rem;
          margin-left: 1rem;
          margin-right: 0.5em;
          padding-top: 1rem;
        }

        .title-export-container {
          display: flex;
          justify-content: space-between;

          .title {
            font-size: xx-large;
            font-weight: bold;
            height: 3rem;
            margin-left: 1rem;
            margin-right: 0.5em;
            padding-top: 1rem;
          }

          .export-button {
            background: $white;
            border-radius: $borderRadius;
            height: 6vh;
            margin-right: 1rem;
            margin-top: 0.5rem;
            width: 6vh;
          }

          .export-button-icon {
            font-size: 2.5rem;
            vertical-align: middle;
          }
        }

        .segment-list {
          display: flex;
          flex-direction: column;
          height: calc(90vh - 12rem);
          justify-content: flex-start;
          margin-left: 1rem;
          margin-right: 1rem;
          margin-bottom: 1rem;
          overflow-y: scroll;

          &-submitted {
            height: calc(90vh - 16rem);
          }

          .segment-container {
            border-left: 4px solid;
            border-color: $lightLightGray;
            margin-bottom: 0.5rem;
            margin-left: 1rem;
            margin-top: 0.5rem;

            .title {
              font-size: x-large;
              font-weight: bold;
              margin-left: 0.5em;
              margin-bottom: 0;
              margin-right: 0.5em;
              padding-bottom: 0.5rem;
              padding-top: 0.5rem;
            }

            .pos-container {
              border-left: 4px solid;
              border-color: $offoffWhite;
              margin-left: 2rem;

              .pos-title {
                font-size: larger;
                font-weight: bold;
                margin-bottom: 0;
                margin-right: 0.5em;
                padding-left: 1em;
              }

              .dancer-list {
                border-left: 4px solid;
                border-color: $offWhite;
                margin-left: 3rem;

                .names {
                  font-size: large;
                  margin-bottom: 0;
                  margin-right: 0.5em;
                  padding-left: 1em;
                }
              }
            }
          }
        }
      }
    }
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
