<div class="page-container">
  <div class="performances-container">
    <app-loading-spinner *ngIf="!dashPerfsLoaded"></app-loading-spinner>
    <div *ngIf="dashPerfsLoaded" class="left-container">
      <div class="left-card app-card">
        <div class="content">
          <button
            mat-button
            class="title"
            attr.aria-label="Past Performances"
            matTooltip="Reload Performance Data"
            (click)="refreshData()"
          >Past Performances
          </button>
          <div class="children-container">
            <div class="child app-card" *ngFor="let dashPerf of processedPastDashPerfs">
              <div class="child-content">
                <h3 class="child-title">{{ dashPerf.title }}</h3>
                <h4 class="date">{{ dashPerf.dateStr }} {{ dashPerf.timeStr }}</h4>
                <h4 class="location">{{ dashPerf.location }}</h4>
                <button mat-flat-button class="action-button" [routerLink]="dashPerf.routerLink">
                  Go To
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="dashPerfsLoaded" class="right-container">
      <div class="right-card app-card">
        <div class="content">
          <button
            mat-button
            class="title"
            attr.aria-label="Past Performances"
            matTooltip="Reload Performance Data"
            (click)="refreshData()"
          >Upcoming Performances
          </button>
          <div class="children-container">
            <div class="child app-card" *ngFor="let dashPerf of processedUpcomingDashPerfs">
              <div class="child-content">
                <h3 class="child-title">{{ dashPerf.title }}</h3>
                <h4 class="date">{{ dashPerf.dateStr }} {{ dashPerf.timeStr }}</h4>                <h4 class="location">{{ dashPerf.location }}</h4>
                <button mat-flat-button class="action-button" [routerLink]="dashPerf.routerLink">
                  Go To
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
