@import "../../styles/colors";

.page-container {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .main-container {
    background: $offWhite;
    display: flex;
    justify-content: space-evenly;
    height: calc(100% - 2rem);
    margin: 1rem;
    width: 80rem;

    .left-cards-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      width: calc(50% - 2rem);

      .left-card {
        // background: $offWhite;
        height: calc(50% - 2rem);
        margin: 1rem;

        .content {
          height: calc(100% - 2rem);

          .title {
            font-size: 2rem;
            font-weight: bold;
            margin: 0;
            padding-left: 1rem;
            padding-top: 1rem;
          }

          .children-container {
            height: calc(100% - 2rem);
            overflow-y: scroll;
            padding-bottom: 1rem;
            width: 100%;

            .child {
              background: $offWhite;
              margin-left: 1rem;
              margin-right: 1rem;
              min-height: 5rem;
              margin-top: 1rem;
              position: relative;

              .child-content {
                .title {
                  font-size: 1.5rem;
                  font-weight: bold;
                  height: fit-content;
                  margin-bottom: 0;
                  padding-left: 1rem;
                  padding-right: 1rem;
                  padding-top: 1rem;
                  text-overflow: ellipsis;
                  overflow-x: hidden;
                  overflow-y: hidden;
                  white-space: nowrap;
                  width: 100%;
                }

                .date {
                  color: $gray;
                  font-size: 1rem;
                  // font-weight: bold;
                  margin-bottom: 0;
                  padding-left: 1rem;
                }

                .time {
                  color: $gray;
                  font-size: 1rem;
                  // font-weight: bold;
                  margin-bottom: 0;
                  padding-left: 1rem;
                }

                .location {
                  color: $gray;
                  font-size: 1rem;
                  // font-weight: bold;
                  margin-bottom: 0;
                  padding-left: 1rem;
                }

                .action-button {
                  bottom: 1rem;
                  background: $AAOrange;
                  color: white;
                  font-size: 1.2rem;
                  font-weight: bold;
                  position: absolute;
                  right: 1rem;

                  &-delete {
                    right: 6rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    .unav-editor-container {
      display: flex;
      flex-direction: column;
      height: calc(100% - 2rem);
      justify-content: flex-start;
      margin: 1rem;
      position: relative;
      width: calc(50% - 2rem);

      .action-button {
        bottom: 1rem;
        background: $AAOrange;
        color: white;
        font-size: 1.4rem;
        font-weight: bold;
        position: absolute;
        right: 1rem;

        &-left {
          background: $AAOrange;
          right: none;
          left: 1rem;
        }
      }

      .title-container {
        .title {
          color: black;
          font-size: xx-large;
          font-weight: bold;
          margin-left: 1rem;
          margin-right: 1em;
          margin-top: 0.5em;
          padding-bottom: 0.5rem;
          padding-left: 1rem;
          padding-top: 0.5rem;
          width: calc(100% - 2rem);
        }
      }

      .user-select-container {
        margin-left: 2rem;
        width: calc(100% - 4rem);

        .user-select {
          width: 100%;
        }
      }

      .datepickers-container {
        margin-left: 2rem;
        width: calc(100% - 4rem);

        .date-select {
          width: 100%;
        }
      }

      .description-container {
        background: $offWhite;
        height: 100%;
        margin-bottom: 4.4rem;
        margin-left: 2rem;
        width: calc(100% - 4rem);

        .description-title {
          font-size: 1.5rem;
          font-weight: bold;
          height: 3rem;
          margin-bottom: 0;
          padding-left: 1rem;
          padding-top: 1rem;
        }

        .description-input {
          background: $offWhite;
          border: none;
          height: calc(100% - 4rem);
          padding: 1rem;
          padding-bottom: 0rem;
          padding-top: 0.5rem;
          resize: none;
          width: 100%;
        }
      }
    }
  }
}
