<div class="page-container">
  <app-loading-spinner *ngIf="!dataLoaded"></app-loading-spinner>
  <div
    *ngIf="dataLoaded"
    class="main-container app-card"
  >
    <div class="left-cards-container">
      <div class="left-card app-card">
        <div class="content">
          <h2 class="title">Unavailabilities</h2>
          <div class="children-container">
            <div
              *ngFor="let procUnav of processedUnavs"
              class="child app-card"
              [ngClass]="procUnav.unav.id === state.id ? 'selected-ua' : ''"
              (click)="onEditUnav(procUnav.unav)"
            >
              <div class="child-content">
                <div class="child-content-first-line">
                  <h3 class="title">{{ procUnav.user | fullName }}</h3>
                  <h4 class="reason">{{ makeTypePretty(procUnav.unav.reason)  }}</h4>
                </div>
                <h4 class="date">{{
                  "From " + procUnav.fromDateStr + " to " + procUnav.toDateStr
                }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="unav-editor-container app-card">
      <div class="title-container">
        <h2 class="title" type="text">Unavailability Editor</h2>
      </div>
      <div class="dropdown-select-container">
        <mat-form-field appearance="fill" class="dropdown-select">
          <mat-label>For User</mat-label>
          <mat-select
            [(value)]="selectedUser"
            (selectionChange)="onSelectUser($event)"
          >
            <mat-option
              *ngFor="let user of allUsers; let i = index"
              [value]="user"
            >
              {{ user | fullName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="dropdown-select-container">
        <mat-form-field appearance="fill" class="dropdown-select">
          <mat-label>Reason</mat-label>
          <mat-select
            [(value)]="initialSelectedReason"
            (selectionChange)="onSelectReason($event)"
          >
            <mat-option
              *ngFor="let reasonStr of unavAPI.reasonList; let k = index"
              [value]="reasonStr">
              {{ reasonStr }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="datepickers-container">
        <mat-form-field appearance="fill" class="date-select">
          <mat-label>From Date</mat-label>
          <input
              matInput
              [matDatepicker]="fromPicker"
              (dateChange)="onFromDateChange($event)"
              [(ngModel)]="startDate">
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker #fromPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill" class="date-select">
          <mat-label>To Date</mat-label>
          <input
              matInput
              [matDatepicker]="toPicker"
              (dateChange)="onToDateChange($event)"
              [(ngModel)]="endDate">
          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="description-container app-card">
        <h3 class="description-title">Optional Extra Information</h3>
        <textarea
            class="description-input"
            [(ngModel)]="state.description"
            (input)="onDescChange($event)"></textarea>
      </div>

      <div class="actions-container">
        <app-action-buttons
          name="Unavailability"
          [aActivator]="canDeleteUnav"
          [aHandler]="onDeleteUnav"
          [bActivator]="canAddUnav"
          [bHandler]="onNewUnav"
          [cActivator]="canSaveUnav"
          [cHandler]="onSaveUnav"
        ></app-action-buttons>          
      </div>

    </div>
  </div>
</div>
