@import "src/colors";
@import "src/constants";
@import "src/std";

// Overall container for panels styling
.panel-container {
  display: flex;
  justify-content: space-evenly;
  min-height: 90vh;
  width: 100%;
}

// Margins on the panel cards
.card-margins {
  height: 96vh;
  margin: 2vh;
}

// Left card arrangment and styling
.left-card {
  background: $offWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  max-height: 86vh;
}

.piece-select-container {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.piece-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.piece-name {
  margin-bottom: auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: auto;
  padding-bottom: 1em;
  padding-top: 1em;
  overflow-x: hidden;
  white-space: nowrap;
}

.selected-piece {
  background-color: $offoffWhite;
}

.super-container {
  display: flex;
}

.super-name {
  width: 80%;
  text-decoration: underline;
}

.super-button {
  margin-top: .6rem;
  border-radius: $borderRadius;
  height: 5vh;
  width: 5vh; 
}

.add-button-width-container-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 7.5vh;
  width: 96.5%;
}

// Space below the Positions
.add-button-width-container-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 8vh;
  width: 99%;
}

.add-button-height-container-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 5vh;
}

.add-button-height-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-button {
  background: $white;
  border-radius: $borderRadius;
  height: 5vh;
  margin-right: 1em;
  width: 5vh;
}

.add-button-icon {
  font-size: 4vh;
}

.narrow-button {
  background: $white;
  border-radius: $borderRadius;
  margin-right: 0em;
  height: 6vh;
  width: 4vh;
}

.narrow-button-icon {
  font-size: 4vh;
}

// Title styling
.left-card-title {
  margin: 1rem;
  font-weight: 800;
  font-size: xx-large;
}

// Right card arrangment and styling
.right-card {
  background: $offWhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em;
  max-height: 86vh;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-card-title {
  margin: 2rem;
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: xx-large;
}

.type-dropdown {
  margin-left: 2rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: min-content;
  &-no-positions {
    height: 100%;
  }
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.save-button {
  background: $AAOrange;
  color: white;
  font-size: x-large;
  font-weight: bold;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}

.delete-button {
  background: $white;
  color: black;
  font-size: x-large;
  margin-left: 0.6em;
  margin-bottom: 0.6em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  &:hover {
    background: red;
    color: $white;
    font-weight: bold;
  }
}

.right-title-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: -1.05rem;
}

.right-top-comment {
  margin-top: 0rem;
  margin-left: 2rem;
}

// Saved Positions
.position-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: min-content;
  width: 99%;
}

.positions-card {
  height: calc(100% - 1em);
  margin: 1em;
  margin-top: 0em;
  width: calc(100% - 2em);
  overflow-y: scroll;
}

.name-input {
  background: none;
  border: none;
  color: black;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1em;
  max-width: 50%;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-top: 0.25em;
  position: relative;
  &:focus {
    border: none;
  }
}

.size-input {
  background: none;
  border: none;
  color: black;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1em;
  max-width: 20%;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-top: 0.25em;
  position: relative;
  &:focus {
    border: none;
  }
}

// Saved Position Name element
.position-name-card {
  background: $offWhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
  width: 100%;
}

.position-name {
  margin-bottom: auto;
  margin-left: 0em;
  padding-left: 0;
  margin-top: auto;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  width: 60%;
}

.position-size {
  margin-bottom: auto;
  margin-left: 1em;
  margin-top: auto;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  width: 20%;
}

.adding-position-name-container {
  margin: 1em;
  width: 70%;
}

.adding-position-size-container {
  margin: 1em;
  width: 25%;
}

// Edited Positions
.adding-position-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
}

// Panels styling
.left-panel {
  width: 25%;
}

.right-panel {
  // background: red;
  width: 75%;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

#position-pool.cdk-drop-list-dragging .position-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.create-segment-menu-item {
  font-size: 1.3rem;
}
