<app-loading-spinner *ngIf="!piecesLoaded"></app-loading-spinner>
<div class="panel-container">
  <div class="left-panel">
    <div class="app-card card-margins left-card">
      <h1 class="left-card-title">
        Segments
      </h1>
      <div class="piece-select-container">
        <div *ngFor="let piece of renderingPieces" class="app-card piece-select"
          [ngClass]="piece.uuid == currentSelectedPiece.uuid ? 'selected-piece' : ''" (click)="setCurrentPiece(piece)">
          <h2 class="piece-name">
            {{ piece.name }}
          </h2>
        </div>
      </div>
      <div class="add-button-width-container">
        <div class="add-button-height-container">
          <button mat-icon-button aria-label="Add Piece Button" class="add-button" (click)="addPiece()">
            <mat-icon [inline]="true" class="add-button-icon">
              add
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="right-panel">
    <div *ngIf="renderingPieces && renderingPieces.length > 0" class="app-card card-margins right-card">
      <div *ngIf="currentSelectedPiece">
        <div class="right-title-edit">
          <input type="text" class="name-input right-card-title app-card" (input)="onTitleInput($event)"
            [size]="(((currentSelectedPiece | emptyStringIfUndefined)['name'] | emptyStringIfUndefined)['length'] < 15) ? 15 : ((currentSelectedPiece | emptyStringIfUndefined)['name'] | emptyStringIfUndefined)['length']"
            [value]="((currentSelectedPiece | emptyStringIfUndefined)['name'] | emptyStringIfUndefined)" />
        </div>
        <mat-form-field appearance="fill" class="type-dropdown">
          <mat-label>Segment Type</mat-label>
          <mat-select [(value)]="selectedSegmentType" (selectionChange)="onSelectSegmentType($event)">
            <mat-option *ngFor="let type of segmentTypes; let i = index" [value]="type">
              {{ segmentPrettyNames[i] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="currentSelectedPiece && currentSelectedPiece.type == 'PIECE'" class="app-card positions-card">
        <div cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)" id="position-pool">
          <div *ngIf="currentSelectedPiece">
            <div *ngFor="let data of dragAndDropData; let i = index">
              <div *ngIf="data.type == 'added';else addingPosition">
                <div cdkDrag class="position-container">
                  <div class="app-card position-name-card">
                    <h2 class="position-name">{{data.value.name}}</h2>
                  </div>
                  <div class="add-button-height-container">
                    <button mat-icon-button aria-label="Delete Position Button" class="add-button"
                      (click)="deletePosition(data.index)">
                      <mat-icon [inline]="true" class="add-button-icon">
                        delete
                      </mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <ng-template #addingPosition>
                <div cdkDrag class="adding-position-container">
                  <div class="adding-position-input-container">
                    <app-text-input (valueChange)="onInputChange($event, data)" [bgColor]="offWhite"
                      [valueName]="'New Position'" [initValue]="data.value.name">
                    </app-text-input>
                  </div>
                  <div class="add-button-height-container">
                    <button mat-icon-button aria-label="Delete Position Button" class="add-button"
                      (click)="deleteAddingPosition(data.index)">
                      <mat-icon [inline]="true" class="add-button-icon">
                        delete
                      </mat-icon>
                    </button>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="add-button-width-container">
          <div class="add-button-height-container">
            <button mat-icon-button aria-label="Add Position Button" class="add-button" (click)="addPosition()">
              <mat-icon [inline]="true" class="add-button-icon">
                add
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div
        [ngClass]="currentSelectedPiece && currentSelectedPiece.type == 'SEGMENT' ? 'button-container-no-positions' : ''"
        class="button-container">
        <div class="button-wrapper">
          <button mat-flat-button aria-label="Delete Piece" class="delete-button" (click)="deletePiece()">
            delete
          </button>
        </div>
        <div class="button-wrapper">
          <button mat-flat-button aria-label="Save Piece" class="save-button" [disabled]="pieceSaved"
            (click)="onSavePiece()">
            save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>