<div class="panel-container">
  <div class="left-panel">
    <div class="app-card card-margins left-card">
      <h1 class="left-card-title">
        Pieces
      </h1>
      <div class="user-select-container">
        <div *ngFor="let piece of renderingPieces" class="app-card user-select"
          [ngClass]="piece.uuid == currentSelectedPiece.uuid ? 'selected-user' : ''" (click)="setCurrentPiece(piece)">
          <h2 class="user-name">
            {{ piece.name }}
          </h2>
        </div>
      </div>
      <div class="add-user-button-width-container">
        <div class="add-user-button-height-container">
          <button mat-icon-button aria-label="Add Piece Button" class="add-user-button" (click)="addPiece()">
            <mat-icon [inline]="true" class="add-user-button-icon">
              add
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="right-panel">
    <div *ngIf="renderingPieces.length > 0" class="app-card card-margins right-card">
      <div *ngIf="currentSelectedPiece">
        <div class="right-title-edit">
          <h1 class="left-card-title">
            {{ ((currentSelectedPiece | emptyStringIfUndefined)['name'] | emptyStringIfUndefined) }}
          </h1>
          <div *ngIf="currentSelectedPiece.nameSaved" class="add-user-button-width-container">
            <div class="add-user-button-height-container">
              <button mat-icon-button aria-label="Add Piece Button" class="add-user-button" (click)="editTitle()">
                <mat-icon [inline]="true" class="add-user-button-icon">
                  edit
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!currentSelectedPiece.nameSaved" class="right-title-edit">
          <div>
            <app-text-input (valueChange)="onInputChange($event)"
              [initValue]="(currentSelectedPiece | emptyStringIfUndefined)['name'] | emptyStringIfUndefined"
              valueName="New Piece Name">
            </app-text-input>
          </div>
        </div>
      </div>
      <div class="app-card positions-card">
        <div class="position-container" *ngFor=" let position of ((currentSelectedPiece ? currentSelectedPiece : [])['positions'] ?
          currentSelectedPiece.positions : []); let i = index;">
          <div class="app-card">
            <h2>{{position}}</h2>
          </div>
          <div class="add-user-button-height-container">
            <button mat-icon-button aria-label="Add Piece Button" class="add-user-button" (click)="deletePosition(i)">
              <mat-icon [inline]="true" class="add-user-button-icon">
                delete
              </mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="currentSelectedPiece">
          <div *ngFor="let ind of this.currentSelectedPiece.addingPositionsIndexes; let i = index">
            <app-text-input (valueChange)="onInputChange($event)"
              [valueName]="'Position ' + (i + this.currentSelectedPiece.positions.length + 1)">
            </app-text-input>
          </div>
        </div>
        <div class="add-user-button-width-container">
          <div class="add-user-button-height-container">
            <button mat-icon-button aria-label="Add Position Button" class="add-user-button" (click)="addPosition()">
              <mat-icon [inline]="true" class="add-user-button-icon">
                add
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="button-container">
        <div class="button-wrapper">
          <button mat-flat-button aria-label="Delete User" class="delete-button" (click)="deletePiece()">
            delete
          </button>
        </div>
        <div class="button-wrapper">
          <button mat-flat-button aria-label="Save User" class="save-button" [disabled]="pieceSaved"
            (click)="onSavePiece()">
            save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>