@import "../../styles/colors";
@import "../../styles/constants";
@import "../../styles/std-left";


// Right card arrangement and styling
.right-card {
  background: $offWhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em;
  max-height: 86vh;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notification-email-email-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.phone-picture-file-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-priv-class-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(30% - 2em);
}

.suffix-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(10% - 2em);
}

.email-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(50% - 2em);
}

.phone-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(50% - 2em);
}

.picture-file-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(50% - 2em);
}

.date-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(30% - 2em);
}

.priv-class-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(70% - 2em);
}

.permissions-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(100% - 2em);
}

.right-card-title {
  margin: 1rem;
  font-weight: 800;
  font-size: xx-large;
}

// Panels styling

.left-panel {
  width: 25%;
}

.right-panel {
  width: 75%;
}

.actions-container {
  height: 100%;
  width: calc(100% - 10rem);
  margin: 1rem 5rem 1rem 5rem;
}
