@import "../../styles/colors";
@import "../../styles/constants";

// Overall container for panels styling
.panel-container {
  display: flex;
  justify-content: space-evenly;
  min-height: 90vh;
  width: 100%;
}

// Margins on the panel cards
.card-margins {
  height: 96vh;
  margin: 2vh;
}

// Left card arrangement and styling
.left-card {
  background: $offWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  max-height: 86vh;
}

.user-select-container {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.user-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.user-name {
  margin: auto 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  overflow-x: hidden;
  white-space: nowrap;
}

.selected-user {
  background-color: $offoffWhite;
}

.add-user-button-width-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 10vh;
}

.add-user-button-height-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 10vh;
}

.add-user-button {
  background: $white;
  border-radius: $borderRadius;
  height: 6vh;
  margin-right: 1em;
  width: 6vh;
}

.add-user-button-icon {
  font-size: 6vh;
  vertical-align: middle;
}

// Title styling
.left-card-title {
  margin: 1rem;
  font-weight: 800;
  font-size: xx-large;
}

// Right card arrangement and styling
.right-card {
  background: $offWhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em;
  max-height: 86vh;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notification-email-email-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.phone-picture-file-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-priv-class-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(30% - 2em);
}

.suffix-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(10% - 2em);
}

.email-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(50% - 2em);
}

.phone-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(50% - 2em);
}

.picture-file-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(50% - 2em);
}

.date-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(30% - 2em);
}

.priv-class-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(70% - 2em);
}

.permissions-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(100% - 2em);
}

.right-card-title {
  margin: 1em;
  font-weight: 800;
  font-size: xx-large;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.save-button {
  background: $AAOrangeGradient;
  color: white;
  font-size: x-large;
  font-weight: bold;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
  padding: 0.5em 1em;
}

.delete-button {
  background: $white;
  color: black;
  font-size: x-large;
  margin-left: 0.6em;
  margin-bottom: 0.6em;
  padding: 0.5em 1em;

  &:hover {
    background: red;
    color: $white;
    font-weight: bold;
  }
}

// Panels styling

.left-panel {
  width: 25%;
}

.right-panel {
  width: 75%;
}
