<app-loading-spinner *ngIf="!usersLoaded"></app-loading-spinner>
<div class="panel-container">
  <div class="left-panel">
    <div class="app-card card-margins left-card">
      <h1 class="left-card-title">
        Users
      </h1>
      <div class="user-select-container">
        <div
            *ngFor="let user of renderingUsers"
            class="app-card user-select"
            [ngClass]="user.uuid == currentSelectedUser.uuid ? 'selected-user' : ''"
            (click)="setCurrentUser({user : user, fromInputChange : false, shouldSetLastUser : true})">
          <h2 class="user-name">
            {{
              (user.first_name ? user.first_name + " " : "") + 
              (user.middle_name ? user.middle_name + " " : "") +
              (user.last_name ? user.last_name : "") + 
              (user.suffix ? user.suffix : "") 
            }}
          </h2>
        </div>
      </div>
      <div class="add-user-button-width-container">
        <div class="add-user-button-height-container">
          <button
              class="add-user-button"
              mat-icon-button
              aria-label="Add User Button"
              (click)="addUser()">
            <mat-icon [inline]="true" class="add-user-button-icon">
              add
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="right-panel">
    <div class="app-card card-margins right-card">
      <div *ngIf="currentSelectedUser">
        <h1 class="right-card-title">
          {{
            (currentSelectedUser.first_name ? currentSelectedUser.first_name + " " : "") + 
            (currentSelectedUser.middle_name ? currentSelectedUser.middle_name + " " : "") +
            (currentSelectedUser.last_name ? currentSelectedUser.last_name : "") + 
            (currentSelectedUser.suffix ? currentSelectedUser.suffix : "") 
          }}
        </h1>
      </div>
      <div class="name-container">
        <div class="name-input">
          <app-text-input
              valueName="First Name"
              (valueChange)="onInputChange($event)"
              [initValue]="(currentSelectedUser | emptyStringIfUndefined)['first_name'] | emptyStringIfUndefined">
          </app-text-input>
        </div>
        <div class="name-input">
          <app-text-input
              valueName="Middle Name"
              (valueChange)="onInputChange($event)"
              [initValue]="(currentSelectedUser | emptyStringIfUndefined)['middle_name'] | emptyStringIfUndefined">
          </app-text-input>
        </div>
        <div class="name-input">
          <app-text-input
              valueName="Last Name"
              (valueChange)="onInputChange($event)"
              [initValue]="(currentSelectedUser | emptyStringIfUndefined)['last_name'] | emptyStringIfUndefined">
          </app-text-input>
        </div>
        <div class="suffix-input">
          <app-text-input
              valueName="Suffix"
              (valueChange)="onInputChange($event)"
              [initValue]="(currentSelectedUser | emptyStringIfUndefined)['suffix'] | emptyStringIfUndefined">
          </app-text-input>
        </div>
      </div>
      <div class="email-date-container">
        <div class="email-container">
          <div class="email-input">
            <app-text-input
                valueName="Email"
                [isDisabled]="!creatingUser"
                [initValue]="((currentSelectedUser | emptyStringIfUndefined)['contact_info'] | emptyStringIfUndefined)['email'] | emptyStringIfUndefined"
                (valueChange)="onInputChange($event)">
            </app-text-input>
          </div>
        </div>
        <div class="date-input">
          <app-date-input
              valueName="Date Joined"
              [initValue]="currentSelectedUser ? currentSelectedUser.date_joined : getCurrentDate()"
              (valueChange)="onInputChange($event)">
          </app-date-input>
        </div>
      </div>
      <div class="phone-priv-class-container">
        <div class="phone-container">
          <div class="phone-input">
            <app-text-input
                valueName="Phone"
                [initValue]="((currentSelectedUser | emptyStringIfUndefined)['contact_info'] | emptyStringIfUndefined)['phone_number'] | emptyStringIfUndefined"
                (valueChange)="onInputChange($event)">
            </app-text-input>
          </div>
        </div>
        <div class="priv-class-input">
          <app-multi-select-input
              valueName="Roles"
              [setValues]="rolesSet"
              [selectFrom]="getAllRoles()"
              [displayNameMapping]="rolesNamesMap"
              (valueChange)="onInputChange($event)">
          </app-multi-select-input>
        </div>
      </div>
      <div class="permissions-input">
        <app-multi-select-input
            valueName="Permissions"
            [setValues]="permissionsSet"
            [selectFrom]="getAllPermissions()"
            [displayNameMapping]="permissionsNamesMap"
            (valueChange)="onInputChange($event)">
        </app-multi-select-input>
      </div>
      <div class="button-container">
        <div class="button-wrapper">
          <button
              class="delete-button"
              mat-flat-button
              aria-label="Delete User"
              (click)="deleteUser()">
            delete
          </button>
        </div>
        <div class="button-wrapper">
          <button
              class="save-button"
              mat-flat-button
              aria-label="Save User"
              [disabled]="disableSave"
              (click)="saveUser()">
            save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
