@import "src/colors";
@import "src/constants";

//puts help button at bottom right of screen
.help-button {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: orangered;
  margin-right: 20px;
  margin-bottom: 25px;
  mat-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 26px;
  }
}

// Overall container for panels styling
.panel-container {
  display: flex;
  justify-content: space-evenly;
  min-height: 90vh;
  width: 100%;
}

// Margins on the panel cards
.card-margins {
  height: 96vh;
  margin: 2vh;
}

// Left card arrangment and styling
.left-card {
  background: $offWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  max-height: 86vh;
}
.user-select-container {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}
.user-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.user-name {
  margin-bottom: auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: auto;
  padding-bottom: 1em;
  padding-top: 1em;
  overflow-x: hidden;
  white-space: nowrap;
}
.selected-user {
  background-color: $offoffWhite;
}
.add-user-button-width-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 10vh;
}
.add-user-button-height-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 10vh;
}
.add-user-button {
  background: $white;
  border-radius: $borderRadius;
  height: 6vh;
  margin-right: 1em;
  width: 6vh;
}
.add-user-button-icon {
  font-size: 6vh;
  vertical-align: middle;
}
// Title styling
.left-card-title {
  margin: 1rem;
  font-weight: 800;
  font-size: xx-large;
}

// Right card arrangment and styling
.right-card {
  background: $offWhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em;
  max-height: 86vh;
}
.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.email-date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.phone-priv-class-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.phone-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.phone-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(100% - 2em);
}
.name-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(50% - 2em);
}
.email-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(100% - 2em);
}
.date-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(50% - 2em);
}
.priv-class-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(100% - 2em);
}
.permissions-input {
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(100% - 2em);
}
.right-card-title {
  margin: 1em;
  font-weight: 800;
  font-size: xx-large;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.save-button {
  background: $AAOrange;
  color: white;
  font-size: x-large;
  font-weight: bold;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
}
.delete-button {
  background: $white;
  color: black;
  font-size: x-large;
  margin-left: 0.6em;
  margin-bottom: 0.6em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  &:hover {
    background: red;
    color: $white;
    font-weight: bold;
  }
}

// Panels styling
.left-panel {
  // background: green;
  // height: 100%;
  width: 25%;
}

.right-panel {
  // background: red;
  // height: 100%;
  width: 75%;
}
