<app-loading-spinner *ngIf="!usersLoaded"></app-loading-spinner>
<div class="std-panel-container">
  <div class="left-panel">
    <div class="app-card std-card-margins std-left-card">
      <h1 class="std-left-card-title">
        Users
      </h1>
      <div class="item-select-container">
        <div
            *ngFor="let user of renderingUsers"
            class="app-card item-select"
            [ngClass]="user.uuid === currentSelectedUser.uuid ? 'selected-item' : ''"
            (click)="setCurrentUser({user : user, fromInputChange : false, shouldSetLastUser : true})">
          <h2 class="item-name">
            {{ user | fullName }}
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="right-panel">
    <div class="app-card std-card-margins right-card">
      <div *ngIf="currentSelectedUser">
        <h1 class="right-card-title">
          {{ currentSelectedUser | fullName }}
        </h1>
      </div>
      <div class="name-container">
        <div class="name-input">
          <app-text-input
              valueName="First Name"
              (valueChange)="onInputChange($event)"
              [initValue]="currentSelectedUser?.first_name || ''">
          </app-text-input>
        </div>
        <div class="name-input">
          <app-text-input
              valueName="Middle Name"
              (valueChange)="onInputChange($event)"
              [initValue]="currentSelectedUser?.middle_name || ''">
          </app-text-input>
        </div>
        <div class="name-input">
          <app-text-input
              valueName="Last Name"
              (valueChange)="onInputChange($event)"
              [initValue]="currentSelectedUser?.last_name || ''">
          </app-text-input>
        </div>
        <div class="suffix-input">
          <app-text-input
              valueName="Suffix"
              (valueChange)="onInputChange($event)"
              [initValue]="currentSelectedUser?.suffix || ''">
          </app-text-input>
        </div>
      </div>

      <div class="notification-email-email-container">

          <div class="email-input">
            <app-text-input
                valueName="Notification Email"
                [initValue]="currentSelectedUser?.contact_info?.notification_email || ''"
                (valueChange)="onInputChange($event)">
            </app-text-input>
          </div>
          <div class="email-input">
            <app-text-input
                valueName="Email"
                [isDisabled]="!creatingUser"
                [initValue]="currentSelectedUser?.contact_info?.email || ''"
                (valueChange)="onInputChange($event)">
            </app-text-input>
          </div>

      </div>

      <div class="phone-picture-file-container">

          <div class="phone-input">
            <app-text-input
                valueName="Phone"
                [initValue]="currentSelectedUser?.contact_info?.phone_number || ''"
                (valueChange)="onInputChange($event)">
            </app-text-input>
          </div>

        <div class="picture-file-input">
          <app-text-input
              valueName="Picture File"
              [initValue]="currentSelectedUser?.picture_file || ''"
              (valueChange)="onInputChange($event)">
          </app-text-input>
        </div>
      </div>

      <div class="date-priv-class-container">
        <div class="date-input">
          <app-date-input
              valueName="Date Joined"
              [initValue]="currentSelectedUser?.date_joined || getCurrentDate()"
              (valueChange)="onInputChange($event)">
          </app-date-input>
        </div>
        <div class="priv-class-input">
          <app-multi-select-input
              valueName="Roles"
              [setValues]="rolesSet"
              [selectFrom]="getAllRoles()"
              [displayNameMapping]="rolesNamesMap"
              (valueChange)="onInputChange($event)">
          </app-multi-select-input>
        </div>
      </div>

      <div class="permissions-input">
        <app-multi-select-input
            valueName="Permissions"
            [setValues]="permissionsSet"
            [selectFrom]="getAllPermissions()"
            [displayNameMapping]="permissionsNamesMap"
            (valueChange)="onInputChange($event)">
        </app-multi-select-input>
      </div>
      
      <div class="actions-container">

        <button
          mat-icon-button
          class="action-button"
          aria-label="Delete User"
          matTooltip="Delete User"
          [disabled]="!canDelete"

          (click)="deleteUser()"
        >
          <mat-icon
            class="action-button-icon-nobg"
            [ngClass]="canDelete ? 'bgon' : ''"
          >
            delete
          </mat-icon>
        </button>

        <button
          mat-icon-button
          class="action-button"
          aria-label="New User"
          matTooltip="New User"
          (click)="addUser()"
        >
          <mat-icon class="action-button-icon">
            add
          </mat-icon>
        </button> 

        <button
          mat-icon-button
          class="action-button"
          aria-label="Save User"
          matTooltip="Save User"
          [disabled]="!canSave"

          (click)="saveUser()"
        >
          <mat-icon
            class="action-button-icon-nobg"
            [ngClass]="canSave ? 'bgon' : ''"
          >
            save
          </mat-icon>
        </button>

      </div>
    </div>
  </div>
</div>
