@import "./_colors";


// Standard Action Buttons

.std-action-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: space-between;
  //justify-content: center;
  align-items: flex-end;

  .std-action-nav-div {
    display: flex;
    flex-direction: row;
  }

  .std-action-button {
    height: 3.5rem;
    width: 3.5rem;
  }

  .std-action-button-icon {
    color: $gray;
    background: $aaOrangeGradient;
    border-radius: 6px;
    //background-clip: border-box;
    font-size: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    vertical-align: middle;
    width: 3.5rem;
  }

  .std-action-button-icon-nobg {
    @extend .std-action-button-icon;
    background: $lightLightGray;
  }

  .std-action-bgon {
    background: $aaOrangeGradient;
  }

  .std-action-nav-sep {
    margin-left: 1rem;
  }

  .std-action-sep1 {
    width: 100%;
  }

  .std-action-sep2 {
    width: 250%;
  }

  .std-action-place-holder {
    min-width: 3.5rem;
  }
}

// don't know why had to be outside .action-container
.std-action-menu-item {
  font-size: 1.3rem;
}
