$white: white;
$offWhite: #f4f4f4;
$offoffWhite: #d9d9d9;
$gray: #6d6d6d;
$lightGray: #9c9c9c;
$lightLightGray: #b1b1b1;
$black: black;
$$AAOrange: #ff6666;
$AAOrangeGradient: linear-gradient(to right, #f7690a, #ff5927);
