<!--
<div class="welcome-container">
  <br>
  <h1 class="title">Welcome to RoleCall!</h1>
  <br>
  <p class="message">Log in to get started.</p>
</div>
-->

<header>
  <!--Mask-->
  <div id="intro" class="view">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    <!-- Heading -->
                    <h1 style="color:#FFFFFF; font-size:600%" > <strong> RoleCall </strong> </h1>
                    <br>
                    <!-- Divider -->
                    <hr>
                    <!-- Description -->
                    <h2 style="color:#FFFFFF; font-size: 200 px" > <strong> Automate your planning for performances, events, and casts. Log in to begin. </strong> </h2>

                </div>

            </div>

        </div>

  </div>
<!--/.Mask-->
</header>