
html,
body,
header,
#intro {
  height: 100%;
}

hr {
  display: block;
  margin: 0.5em auto;
  border-style: inset;
  border-width: 5px;
}

#intro {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //url("/assets/images/cover.jpg?width=615&height=400&ext=.jpg") no-repeat center center fixed;
  url("/assets/images/cover.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
