.header, .modal-body::first-letter {
  text-transform: uppercase;
}

.modal-header {
  height: 60px;
}

.modal-body {
  overflow-y: auto;
  font-size: 18px;
}

.btn-confirm { //'Ok Button Color'
  background-color: orangered;
  color: black;
  font-size: 18px;
}