@import "src/colors";

// the div that holds the entire site header
.site-header-container {
  background: $AAOrange;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 10vh;
  justify-content: flex-start;
  width: 100vw;
}

// the middle subcontainer that holds titles and graphics
.site-header-subcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 10%;
  justify-content: flex-end;
  width: 100%;
}

// The container for the log in button
.log-in-account-container {
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: center;
  margin-right: 1.5em;
  width: fit-content;
}
// The log in button
.log-in-button {
  font-size: large;
  height: 50%;
  width: fit-content;
}
// The profile picture
.profile-image {
  border: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border-width: 3px;
  box-shadow: 0 4px 8px 0 rgba($color: #000000, $alpha: 0.2);
  cursor: pointer;
  height: 7vh;
  width: 7vh;
}

// The nav trigger menu button on the left
.nav-trigger-button {
  color: white;
  font-size: 5vh;
  height: 10vh;
  transition: all 0.3s linear;
  width: 10vh;
}

// The dropdown for the profile stylings
.profile-drop-down-item-container {
  display: flex;
  justify-content: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
}
.profile-name {
  font-size: larger;
  font-weight: 500;
  margin-top: 0.75em;
}

// Loading spinner CSS
.loader {
  animation: spin 2s linear infinite;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #d3d3d3; /* Darker grey */
  border-radius: 50%;
  min-height: 7vh;
  margin-bottom: auto;
  margin-right: 1.5em;
  margin-top: auto;
  min-width: 7vh;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  cursor: pointer;
  display: block;
  filter: invert(100%);
  height: auto;
  // max-width: 240px;
  max-height: 100%;
  transition: all 0.3s linear;
  width: auto;
}
