<div class="site-header-container">
  <button
    [disabled]="!loginApi.isLoggedIn"
    class="nav-trigger-button"
    [ngStyle]="!loginApi.isLoggedIn ? { 'opacity' : '0', 'width' : '0' } : { 'opacity' : '1' }"
    mat-icon-button
    aria-label="Toggle Navigation Button"
    (click)="onNavButtonClick()"
  >
    <mat-icon
      [inline]="true"
    >menu
    </mat-icon>
  </button>
  <img
    [ngStyle]="!loginApi.isLoggedIn ? { 'margin-left': '2rem' }: {}"
    src="/assets/images/AADT-logo.png"
    class="logo"
    routerLink="/"
  >
  <div class=" site-header-subcontainer">
  </div>
  <div *ngIf="!responseReceived; then loadingSpinner">
  </div>
  <!-- extra div to clump all extra content to the right -->
  <div class="top-right">
    <!-- test input begin Deactivated
    <div class="checkbox">
      <mat-checkbox
        class="example-margin"
        [(ngModel)]="g.checkUnavs"
      >Server Unav Check
      </mat-checkbox>
    </div>
    !-- test input end -->
    <div class=" site-header-subcontainer">
      <div
        class="log-in-account-container"
        [style.display]="!loginApi.isLoggedIn ? 'flex' : 'none'"
      >
        <div id="gsi_btn"></div>        
      </div>

      <div
        class="log-in-account-container"
        [style.display]="loginApi.isLoggedIn ? 'flex' : 'none'"
        ngbDropdown
        #profileDrop="ngbDropdown"
      >
        <img
          class="profile-image"
          [src]="this.loginApi.imageURL"
          ngbDropdownAnchor
          (click)="profileDrop.isOpen() ? profileDrop.close() : profileDrop.open()"
        >
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <div class="profile-drop-down-item-container">
            <h3 class="profile-name">{{ loginApi.givenName + " " + loginApi.familyName }}</h3>
          </div>
          <div class="profile-drop-down-item-container">
            <h3 class="profile-email">{{ loginApi.email }}</h3>
          </div>
          <button
            ngbDropdownItem
            (click)="onSignOut()"
            style="font-weight: bold;"
          >Sign Out
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Loader Template -->
<ng-template #loadingSpinner>
  <div class="loader"></div>
</ng-template>
