<div class="site-header-container">
  <button mat-icon-button aria-label="Toggle Navigation Button" class="nav-trigger-button" (click)="onNavButtonClick()">
    <mat-icon class="icon" [inline]="true">
      menu
    </mat-icon>
  </button>
  <img src='/assets/images/AADT-logo.png' class="logo" routerLink="/">
  <div class=" site-header-subcontainer">
  </div>
  <div *ngIf="this.responseRecieved; then showLoginOptions else loadingSpinner">
  </div>
</div>

<!-- Login Templates -->
<ng-template #showLoginOptions>
  <div *ngIf="this.userIsLoggedIn; then profileImageTemp else loginButtonTemp">
  </div>
</ng-template>
<ng-template #loginButtonTemp>
  <div class="log-in-account-container">
    <button mat-flat-button aria-label="Log In Button" class="log-in-button" #loginButton routerLink="login"
      (click)="navBar.closeNav(); onLoginButtonClick()">
      Log In
    </button>
  </div>
</ng-template>
<ng-template #profileImageTemp>
  <div class="log-in-account-container" ngbDropdown #profileDrop="ngbDropdown">
    <img class="profile-image" [src]="this.loginAPI.imageURL" ngbDropdownAnchor
      (click)="profileDrop.isOpen() ? profileDrop.close() : profileDrop.open()">
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <div class="profile-drop-down-item-container">
        <h3 class="profile-name">{{ this.loginAPI.givenName + " " + this.loginAPI.familyName }}</h3>
      </div>
      <div class="profile-drop-down-item-container">
        <h3 class="profile-email">{{ this.loginAPI.email }}</h3>
      </div>
      <button ngbDropdownItem (click)="onSignOut()">Sign Out</button>
    </div>
  </div>
</ng-template>

<!-- Loader Template -->
<ng-template #loadingSpinner>
  <div class="loader"></div>
</ng-template>