@import "src/colors";

// the div that holds the entire site header
.site-header-container {
  background: rgba($color: $AAOrange, $alpha: 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 10vh;
  justify-content: start;
  width: 100vw;
}

// the middle subcontainer that holds titles and graphics
.site-header-subcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 10%;
  justify-content: end;
  width: 100%;
}

// The container for the log in button
.log-in-account-container {
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: center;
  margin-right: 2vw;
  width: 7vh;
}
// The log in button
.log-in-button {
  font-size: large;
  height: 50%;
}
// The profile picture
.profile-image {
  border-radius: 50%;
  cursor: pointer;
  height: 7vh;
  width: 7vh;
}

// The nav trigger menu button on the left
.nav-trigger-button {
  font-size: 5vh;
  height: 10vh;
  width: 10vh;
}

// The dropdown for the profile stylings
.profile-drop-down-item-container {
  display: flex;
  justify-content: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
}
.profile-name {
  font-size: larger;
  font-weight: 500;
  margin-top: 0.75em;
}

// Loading spinner CSS
.loader {
  animation: spin 2s linear infinite;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #d3d3d3; /* Darker grey */
  border-radius: 50%;
  min-height: 7vh;
  margin-bottom: auto;
  margin-right: 2vw;
  margin-top: auto;
  min-width: 7vh;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  cursor: pointer;
  display: block;
  // max-width: 240px;
  max-height: 100%;
  width: auto;
  height: auto;
}
