@import "../../styles/colors";

.actions-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;

  .action-button {
      height: 3.5rem;
      width: 3.5rem;
    }
  
  .action-button-icon {
    color: $gray;
    background: $aaOrangeGradient;
    border-radius: 6px;
    //background-clip: border-box;
    font-size: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    vertical-align: middle;
    width: 3.5rem;
  }

  .action-button-icon-nobg {
    @extend .action-button-icon !optional;
    background: $lightLightGray;
  }

  .bgon {
    background: $aaOrangeGradient;
  }

}

// don't know why had to be outside .action-container
.menu-item {
  font-size: 1.3rem;
}