
<div class="std-action-container">

  <button
    mat-icon-button
    class="std-action-button"
    [attr.aria-label]="aAria"
    [matTooltip]="aTip"
    [disabled]="!aActivate()"
    (click)="aHandle()"
  >
    <mat-icon
      [inline]="true"
      class="std-action-button-icon-nobg"
      [ngClass]="aActivate() ? 'std-action-bgon' : ''"
    >{{ aIcon }}
    </mat-icon>
  </button>

  <ng-container *ngIf="bMenuItems.length === 0; else withDropDown">
    <button
      mat-icon-button
      class="std-action-button"
      [attr.aria-label]="bAria"
      [matTooltip]="bTip"
      [disabled]="!bActivate()"
      (click)="bHandle()"
    >
      <mat-icon
        [inline]="true"
        class="std-action-button-icon-nobg"
        [ngClass]="bActivate() ? 'std-action-bgon' : ''"
      >{{ bIcon }}
      </mat-icon>
    </button>
  </ng-container>

  <ng-template #withDropDown>
    <button
      mat-icon-button
      class="std-action-button"
      [attr.aria-label]="bAria"
      [matTooltip]="bTip"
      [disabled]="!bActivate()"
      [matMenuTriggerFor]="bMenu"
    >
      <mat-icon
        [inline]="true"
        class="std-action-button-icon-nobg"
        [ngClass]="bActivate() ? 'std-action-bgon' : ''"
      >{{ bIcon }}
      </mat-icon>
    </button>
    <mat-menu #bMenu="matMenu">
      <button *ngFor="let segType of bMenuItems; let k = index"
        mat-menu-item
        class="std-action-menu-item"
        (click)="bMenuHandler(k)"
      >{{ segType }}
      </button>
    </mat-menu>
  </ng-template>

  <button
    mat-icon-button
    class="std-action-button"
    [attr.aria-label]="cAria"
    [matTooltip]="cTip"
    [disabled]="!cActivate()"
    (click)="cHandle()"
  >
    <mat-icon
      [inline]="true"
      class="std-action-button-icon-nobg"
      [ngClass]="cActivate() ? 'std-action-bgon' : ''"
    >{{ cIcon }}
    </mat-icon>
  </button>

</div>