<app-loading-spinner *ngIf="!dataLoaded"></app-loading-spinner>
<div
    class="root-container"
    [ngStyle]="dataLoaded ? {} : { 'display' : 'none' }">

  <div class="cast-selector-container">
    <div class="app-card std-card-margins std-left-card-double">

      <div
          class="group-wrapper1"
          [class.small-cast-list-wrapper]="expandedCode === 1">
        <div class="select-container-header">
          <h1 class="std-left-card-title">
            Casts
          </h1>
        </div>
        <div
            #castList
            class="cast-select-container"
            [class.small-cast-list]="expandedCode === 1">
          <div
              *ngFor="let cast of selectedSegmentCasts"
              class="app-card cast-select"
              [class.selected-cast]="cast.uuid === castDragAndDrop.selectedCastUUID"
              (click)="doSetCurrentCast(cast)">
            <h2
                class="cast-name"
                [class.std-italic-font]="selectedSegment && selectedSegment.siblingId > 0">
              {{ cast.name }}
            </h2>
          </div>
        </div>
      </div>
      <div
          class="group-wrapper2"
          [class.small-segment-list-wrapper]="expandedCode === 2">
        <div class="select-container-header">
          <h1 class="std-left-card-title">
            Segments
          </h1>
          <button
              mat-icon-button
              aria-label="Add Cast Button"
              class="add-button"
              (click)="toggleExpanded()">
            <mat-icon
                [inline]="true"
                class="add-button-icon">
              {{expandedCode === 0 ? "expand_less" : expandedCode === 1 ? "expand_more" : "remove"}}
            </mat-icon>
          </button>
        </div>
        <div
            class="item-select-container"
            [class.small-segment-list]="expandedCode === 2">
          <div
              *ngFor="let item of leftList.visibleItems"
              class="app-card item-select"
              [class.selected-item]="selectedSegment && item.uuid === selectedSegment.uuid "
              [style.marginLeft.rem]="item.siblingId > 0 ? 3 : .9"
              (click)="selectSegment(item.segmentIndex)">
            <div
                *ngIf="item.type === 'SUPER'; else otherSegments"
                class="parent-container">
              <h2 class="item-name parent-name">
                {{item.name}}
              </h2>
              <button
                  mat-icon-button
                  aria-label="Toggle Super Ballet"
                  class="child-button"
                  (click)="toggleOpen(item.segmentIndex)">
                <mat-icon
                    [inline]="true"
                    class="child-button-icon">
                  {{item.isOpen ? 'expand_less' : "expand_more"}}
                </mat-icon>
              </button>
            </div>
            <ng-template #otherSegments>
              <h2
                  class="item-name"
                  [class.std-italic-font]="item.siblingId > 0">
                {{item.name}}
              </h2>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="drag-and-drop-container">
    <app-cast-drag-and-drop
      #castDragAndDrop
      [selectedSegment]="selectedSegment"
      [canDelete]="canDelete"
      (addCastEmitter)="addCast()"
      (castChangeEmitter)="onEditCast($event)"
    ></app-cast-drag-and-drop>
  </div>
</div>
