<div *ngIf="dataLoaded && castSelected" class="drop-group-container" cdkDropListGroup>
  <div class="position-pool">
    <div *ngIf="buttonsEnabled" class="name-export-container">
      <input
        class="name-input"
        type="text"
        [value]="this.cast.name"
        [size]="this.cast.name.length < 15 ? 15 : this.cast.name.length"
        (input)="onTitleInput($event)"/>
      <button
        class="export-button"
        mat-icon-button
        aria-label="Export Cast Button"
        (click)="exportCast()">
        <mat-icon [inline]="true" class="export-button-icon">
          save_alt
        </mat-icon>
      </button>
    </div>
    <div *ngFor="let position of data; let i1 = index" class="position-container">
      <div *ngIf="i1 < positionVals.length">
        <h3 class="position-title">{{positionVals[i1].name}}</h3>
        <div class="table-container">
          <div class="horizontal-list" id="col-headers">
            <div class="cell cellBothHeader">
            </div>
            <div *ngFor="let header of columnHeaders[i1]" class="cell cellColHeader">
              {{ header }}
            </div>
          </div>
          <div
            *ngFor="let row of position; let i2 = index" (cdkDropListDropped)="drop($event)"
            class="horizontal-list"
            cdkDropList
            cdkDropListOrientation="horizontal"
            [cdkDropListData]="row"
            [id]="i1 + ':' + i2">
            <div class="cell cellRowHeader">
              {{ positionVals[i1].name + " " + (i2 + 1) }}
            </div>
            <div
              *ngFor="let person of row; let i3 = index"
              class="cell"
              cdkDrag
              [cdkDragData]="person"
              [ngStyle]="i3 == boldedCast ? {'font-weight' : 'bold'} : {}">
              <img
                class="user-image"
                [src]="'https://i.pravatar.cc/150?u=' + person.first_name + '::::' + person.last_name + person.contact_info.email">
              {{person.first_name + " " + person.last_name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-container">
    <div
      id="user-pool"
      class="horizontal-list user-pool"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="allUsers"
      (cdkDropListDropped)="drop($event)">
      <div
        *ngFor="let user of allUsers"
        class="cell user-cell"
        cdkDrag
        [cdkDragData]="user">
        <img
          class="user-image"
          [src]="'https://i.pravatar.cc/150?u=' + user.first_name + '::::' + user.last_name + user.contact_info.email">
        {{user.first_name + " " + user.last_name}}
      </div>
    </div>
    <div *ngIf="buttonsEnabled" class="buttons-container">
      <button mat-icon-button class="save-delete-button" (click)="deleteCast()">
        <mat-icon class="save-delete-button-icon">
          delete
        </mat-icon>
      </button>
      <button mat-icon-button class="save-delete-button" (click)="saveCast()">
        <mat-icon class="save-delete-button-icon">
          save
        </mat-icon>
      </button>
    </div>
  </div>
</div>
