<app-loading-spinner *ngIf="!dataLoaded"></app-loading-spinner>
<div class="root-container"
    [ngStyle]="dataLoaded ? {} : { 'display' : 'none' }">
  <div class="cast-selector-container">
    <div class="app-card card-margins left-card">
      <div ngbDropdown
          #pieceDropdown="ngbDropdown">
        <div ngbDropdownToggle
            class="app-card piece-select">
          <h1 class="left-card-title"
              [ngStyle]="{'font-style': selectedPiece && selectedPiece.siblingId > 0 ? 'italic' : 'normal' }">
            {{selectedPiece ? selectedPiece.name : " "}}
          </h1>
          <mat-icon class="dropdownArrow">
            arrow_drop_down
          </mat-icon>
          <div ngbDropdownMenu
              class="piece-options"
              aria-labelledby="Piece Dropdown">
            <button *ngFor="let piece of popupList"
                ngbDropdownItem
                (click)="onSelectPiece(piece.pieceIx)"
                [ngStyle]="{'font-style': piece.hasSibling ? 'italic' : 'normal' }">
              {{piece.name}}
            </button>
          </div>
        </div>
      </div>
      <div class="cast-select-container">
        <div *ngFor="let cast of filteredCasts"
            class="app-card cast-select"
            [ngClass]="cast.uuid == castDragAndDrop.selectedCastUUID ? 'selected-cast' : ''"
            (click)="setCurrentCast(cast)">
          <h2 class="cast-name"
              [ngStyle]="{'font-style': selectedPiece && selectedPiece.siblingId > 0 ? 'italic' : 'normal' }">
            {{ cast.name }}
          </h2>
        </div>
      </div>
      <div class="add-button-width-container">
        <div class="add-button-height-container">
          <button mat-icon-button
              class="add-button" 
              aria-label="Add Cast Button"
              (click)="addCast()">
            <mat-icon [inline]="true" class="add-button-icon">
              add
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="drag-and-drop-container">
    <app-cast-drag-and-drop
        #castDragAndDrop
        (castChangeEmitter)="onEditCast($event)">
    </app-cast-drag-and-drop>
  </div>
</div>