@import "src/styles/colors";
@import "src/styles/constants";


$cellHeight: 3.5rem;
$cellWidth: 14rem;
$bothTextWidth: 12.5rem;
$bothFillerWidth: 1.5rem;
$lastCellTextWidth: 11.8rem;
$lastCellFillerWidth: 2.2rem;

.horizontal-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.position-container {
  margin-bottom: 0;
  margin-left: 2rem;
}

.position-title {
  color: $gray;
  font-size: x-large;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.table-container {
  outline: $offoffWhite solid 2px;
  outline-offset: -1px;
  width: fit-content;
}
.child-absence {
  color: red;
}
.user-cell {
  display: flex;
  flex-direction: row;  
  align-items: center;
}
.cell {
  background: $offWhite;
  outline: $offoffWhite solid 2px;
  outline-offset: -1px;
  height: $cellHeight;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: .8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $cellWidth;

  &ColHeader {
    padding-top: 1.25rem;
    color: $gray;
    font-size: large;
    font-weight: bold;
    vertical-align: middle;
  }

  &RowHeader {
    padding-top: 1.25rem;
    padding-left: 2rem;
    color: $gray;
    font-size: large;
    font-weight: bold;
    vertical-align: middle;
  }

  &BothHeader {
    padding: 0 0 0 1rem;
    color: $black;
    font-size: 1.4rem;
    font-weight: bold;
    vertical-align: middle;
    width: $cellWidth;
  }
}

.name-input {
  background: none;
  border: none;
  color: black;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  position: relative;
  max-width: 90%;

  &:focus {
    border: none;
  }
}

.empty-cell {
  border: 2px none $offoffWhite;
  border-right-style: solid;
  border-bottom-style: solid;
  height: $cellHeight;
  width: $cellWidth;
}

.position-pool {
  max-height: 60vh;
  overflow-y: scroll;
}

.name-export-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.export-button {
  background: $offWhite;
  border-radius: $borderRadius;
  height: 4vh;
  margin-right: 2rem;
  margin-top: .8rem;
  margin-bottom: .7rem;
  width: 4vh;
}

.export-button-icon {
  font-size: 2.5rem;
  vertical-align: middle;
}

.user-pool {
  height: 25vh;
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: flex-start;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  outline: $offoffWhite dashed 2px;
  outline-offset: -1px;
}

// .buttons-container {
//   display: flex;
//   flex-direction: column;
//   height: 25vh;
//   justify-content: space-evenly;
//   width: min-content;
// }

// .save-delete-button {
//   height: 5rem;
//   width: 5rem;
// }

// .save-delete-button-icon {
//   color: $gray;
//   background: $aaOrangeGradient;
//   background-clip: border-box;
//   font-size: 3rem;
//   height: 3rem;
//   line-height: 3rem;
//   vertical-align: middle;
//   width: 3rem;
// }

.user-image {
  border-radius: 50%;
  height: 2.2rem;
  margin-left: 0;
  margin-right: 0.6rem;
  object-fit: cover;
  width: 2.2rem;
}

.user-cell {
  min-width: $cellWidth;
  width: 16.6666%;
}

.actions-container {
  height: calc(3.5rem);
  width: calc(100% - 10rem);
  margin: 1rem 5rem calc(1.5vh - 1px) 5rem;
}

.cdk-drag-placeholder {
  opacity: 0.4;
}

.cdk-drag-animating {
  transition: transform 75ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-receiving {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-group-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.button-h-container {
  display: flex;
  align-items: center;
  width: $lastCellFillerWidth;
  height: 1.2rem;
  color: black;

  .count-button1 {
    width: 1em;
    line-height: 1rem;

    .count-icon1 {
      margin-top: -.2em;
    }
  }

  .count-button2 {
    width: 1rem;

    .count-icon2 {
      margin-top: -.2rem;
    }
  }
}

.button-v-wrapper {
  background: $offWhite;
  width: $bothFillerWidth;
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-icon-button {
    line-height: 1rem;
  }

  .mat-button-base {
    height: 1rem;
  }

  .button-v-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.2rem;

    .count-button1 {
      width: 1rem;

      .count-icon1 {
        margin-top: -.2rem;
      }
    }

    .count-button2 {
      height: 1rem;

      .count-icon2 {
        margin-top: -.2rem;
      }
    }
  }
}

.adjust-last-cast-cell {
  padding-right: .1rem;
}

.last-cast-cell {
  display: flex;
}

.last-cast-text {
  width: $lastCellTextWidth;
}

.double-header-cell {
  display: flex;
  padding: 0;
}

.double-header-text {
  padding-top: 1.2rem;
  width: $bothTextWidth;
}

.double-header-buttons {
  height: $cellHeight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
