@import "src/styles/colors";
@import "src/styles/constants";
@import "src/styles/std-left";


.root-container {
  height: $contentHeight;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drag-and-drop-container {
  width: 75vw;
}

.cast-selector-container {
  width: 25vw;
}

//-------------------------

.select-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-button {
  margin-top: .5rem;
  width: 4vh;
  height: 4vh;
}

.group-wrapper1 {
  // Noop to avoid compiler warning
  background: transparent;
}

.group-wrapper2 {
  height: 100%;
}

.small-cast-list-wrapper {
  height: 15.3rem;
}

.small-cast-list {
  height: 8.3rem;
}

.small-segment-list-wrapper {
  height: 14.5rem;
}

.small-segment-list {
  height: 10.5rem;
}

.item-select-container {
  overflow: scroll;
}

.cast-select-container {
  overflow: scroll;
}

.cast-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  min-height: 3.75em;
}

.cast-name {
  margin: auto 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  overflow-x: hidden;
  white-space: nowrap;
}

.selected-cast {
  background-color: $offoffWhite;
}

