@import "../../styles/colors";
@import "constants";

.root-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cast-selector-container {
  width: 15vw;
}

.drag-and-drop-container {
  width: 85vw;
}

//-------------------------

// Margins on the panel cards
.card-margins {
  height: 96vh;
  margin: 2vh;
}

// Left card arrangment and styling
.left-card {
  background: $offWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  margin-right: 0;
  max-height: 86vh;
}

.piece-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.piece-options {
  font-size: large;
  max-height: 70vh;
  overflow-y: scroll;
  width: 100%;
}

.left-card-title {
  font-size: xx-large;
  font-weight: 800;
  height: 100%;
  overflow-wrap: break-word;
  white-space: pre-line;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-top: 0.7em;
  width: calc(100% - 1em);
}

.dropdownArrow {
  font-size: 3em;
  line-height: 0.5em;
  position: relative;
  right: 0.25em;
  margin-bottom: auto;
  margin-top: auto;
  width: min-content;
}

.dropdown-toggle::after {
  display: none;
}

.position-container {
  height: 100%;
  width: 100%;
}

.cast-select-container {
  margin-top: 1rem;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.cast-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  min-height: 3.75em;
}

.cast-name {
  margin-bottom: auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: auto;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  overflow-x: hidden;
  white-space: nowrap;
}

.selected-cast {
  background-color: $offoffWhite;
}

.add-button-width-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 10vh;
}

.add-button-height-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-button {
  background: $white;
  border-radius: $borderRadius;
  height: 6vh;
  margin-right: 1em;
  width: 6vh;
}

.add-button-icon {
  font-size: 6vh;
  vertical-align: middle;
}
