@import "src/colors";

$cellWidth: 14rem;
$cellHeight: 4rem;

.horizontal-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.position-container {
  margin-bottom: 3rem;
  margin-left: 2rem;
}

.position-title {
  color: $gray;
  font-size: x-large;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.table-container {
  outline-color: $offoffWhite;
  outline-width: 2px;
  outline-style: dashed;
  outline-offset: -1px;
  width: fit-content;
}

.cell {
  background: $offWhite;
  outline-color: $offoffWhite;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -1px;
  height: $cellHeight;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $cellWidth;
  &ColHeader {
    color: $gray;
    font-size: large;
    font-weight: bold;
    vertical-align: middle;
  }
  &RowHeader {
    color: $gray;
    font-size: large;
    font-weight: bold;
    vertical-align: middle;
  }
  &BothHeader {
  }
}

.name-input {
  background: none;
  border: none;
  color: black;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1em;
  position: relative;
  &:focus {
    border: none;
  }
}

.empty-cell {
  border-color: $offoffWhite;
  border-style: dashed;
  // @styleIngore Left must come after style by CSS standards
  border-left: none;
  border-top: none;
  border-width: 2px;
  height: $cellHeight;
  width: $cellWidth;
}

.position-pool {
  max-height: 65vh;
  overflow-y: scroll;
}

.user-pool {
  height: 25vh;
  padding-left: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: flex-start;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
  outline-color: $offoffWhite;
  outline-width: 2px;
  outline-style: dashed;
  outline-offset: -1px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: space-evenly;
  width: min-content;
}

.save-delete-button {
  height: 5rem;
  width: 5rem;
}

.save-delete-button-icon {
  color: $gray;
  font-size: 3rem;
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
  width: 3rem;
}

.user-image {
  border-radius: 50%;
  height: 100%;
  margin-left: 0;
  margin-right: 0.6em;
}

.user-cell {
  min-width: $cellWidth;
  width: 16.6666%;
}
