@import "src/colors";
@import "src/constants";

$cellWidth: 14rem;
$bothWidth: 12.5rem;
$cellHeight: 4rem;

.horizontal-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.position-container {
  margin-bottom: 0;
  margin-left: 2rem;
}

.position-title {
  color: $gray;
  font-size: x-large;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.table-container {
  outline-color: $offoffWhite;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -1px;
  width: fit-content;
}

.cell {
  background: $offWhite;
  outline-color: $offoffWhite;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -1px;
  height: $cellHeight;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $cellWidth;
  &ColHeader {
    padding-top: 1.45rem;
    color: $gray;
    font-size: large;
    font-weight: bold;
    vertical-align: middle;
  }
  &RowHeader {
    padding-top: 1.45rem;
    padding-left: 2rem;
    color: $gray;
    font-size: large;
    font-weight: bold;
    vertical-align: middle;
  }
  &BothHeader {
    padding-top: 1.4rem;
    padding-left: 1rem;
    color: $black;
    font-size: 1.4em;
    font-weight: bold;
    vertical-align: middle;
    width: $bothWidth;
  }
}

.dancer-count-buttons-container {
  background: $offWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1.5rem;
}

.dancer-count-button {
  background: $offWhite;
  height: 2rem;
  width: 1rem;
  min-height: 2px;
}

.dancer-count-icon {
  font-size: 1rem;
  height: 1rem;
  width: 1rem;
  line-height:1rem;
}

.name-input {
  background: none;
  border: none;
  color: black;
  font-size: xx-large;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-top: 0.25em;
  position: relative;
  max-width: 90%;
  &:focus {
    border: none;
  }
}

.empty-cell {
  border-color: $offoffWhite;
  border-style: solid;
  // @styleIngore Left must come after style by CSS standards
  border-left: none;
  border-top: none;
  border-width: 2px;
  height: $cellHeight;
  width: $cellWidth;
}

.position-pool {
  max-height: 65vh;
  overflow-y: scroll;
}

.name-export-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.export-button {
  background: $offWhite;
  border-radius: $borderRadius;
  height: 4vh;
  margin-right: 2rem;
  margin-top: 1.5rem;
  width: 4vh;
}

.export-button-icon {
  font-size: 2.5rem;
  vertical-align: middle;
}

.user-pool {
  height: 25vh;
  padding-left: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: flex-start;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
  outline-color: $offoffWhite;
  outline-width: 2px;
  outline-style: dashed;
  outline-offset: -1px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: space-evenly;
  width: min-content;
}

.save-delete-button {
  height: 5rem;
  width: 5rem;
}

.save-delete-button-icon {
  color: $gray;
  background: $AAOrange;
  background-clip: text;
  font-size: 3rem;
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
  width: 3rem;
}

.user-image {
  border-radius: 50%;
  height: 2.2rem;
  margin-left: 0;
  margin-right: 0.6em;
  object-fit: cover;
  width: 2.2rem;
}

.user-cell {
  min-width: $cellWidth;
  width: 16.6666%;
}

.cdk-drag-placeholder {
  opacity: 0.4;
}

.cdk-drag-animating {
  transition: transform 75ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-receiving {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-group-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}
