<div class="app-card card-style">
  <mat-form-field class="input-margins fit-form">
    <input matInput [(ngModel)]="currentValue" (ngModelChange)="valueChange.emit([valueName, currentValue])"
      [value]="initValue" [placeholder]="valueName" [type]="type" [matAutocomplete]="auto"
      [disabled]="isDisabled ? isDisabled : false">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of autoCompleteOptions" [value]="option">{{option}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>