@import "src/colors";
// The container that represents the entire stepper bar card and is animated
.stepper-bar-container {
  display: flex;
  flex-direction: row;
  height: 88vh;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 10vh;
  position: absolute;
  right: 100vw;
  top: 0;
  width: 20vw;
  z-index: 0;
}

// div styling to make the stepper bar card
.left-sharp-card {
  background: white;
  border-radius: 0 5px 5px 0;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.left-sharp-card:hover {
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.bottom-right-sharp-card {
  background: white;
  border-radius: 0 0px 5px 0;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.bottom-right-sharp-card:hover {
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

// The div that holds the stepper content inside the card
.stepper-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 2vh;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

// The sideways menu button at the top of the stepper bar
.close-stepper-button {
  font-size: 4rem;
  height: 4rem;
  width: 4rem;
}

.close-stepper-button-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
}

.close-stepper-button-icon {
  color: $gray;
  transform: rotate(90deg);
}

// The repeated child for each stepper link
.stepper-child {
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: space-around;
  // margin: 2%;
  width: 100%;
}

// A stepper-child content div that centers the content vertically
.stepper-child-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;

  .circle {
    border-radius: 50%;
    border: solid;
    border-color: $AAOrange;
    color: $lightGray;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    font-weight: bold;
    height: 10vh;
    justify-content: center;
    margin: 0;
    width: 10vh;
  }

  .selected-circle {
    background: $AAOrange;
    border-radius: 50%;
    border: solid;
    border-color: $AAOrange;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    font-weight: bold;
    height: 10vh;
    justify-content: center;
    margin: 0;
    width: 10vh;
  }

  .step-name {
    color: $lightGray;
    display: flex;
    font-size: large;
    font-weight: bold;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: 1em;
    min-width: 5em;
    max-width: 5em;
    text-align: center;
    white-space: normal;
  }

  .circle-name-pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.circle-line-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.line-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.line {
  background: $AAOrange;
  height: 6vh;
  width: 5px;
}
